name: Waka Readme
on:
  workflow_dispatch:
  schedule:
    # Runs every 3 hours
    - cron: "0 */3 * * *"
jobs:
  update-readme:
    name: Update this repo's of my README Profile with WakaTime Stats
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          TIME_RANGE: all_time
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
          SHOW_TOTAL: true
          SHOW_TIME: true